{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
<section class="event-detail spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>{{ event.title }}</h2>
                    <p><i class="fas fa-champagne-glasses"></i> Get ready to mingle and jingle – all the deets you need!</p>
                    <div class="breadcrumb-text">
                        <div class="bt-option">
                            <a href="{{ path('app_events') }}">Events</a>
                            <span>{{ event.title }}</span>
                        </div>
                    </div>

                    {% for label, messages in app.flashes %}
                        <div class="alert alert-{{ label }}">
                            {% for message in messages %}
                                <p>{{ message|raw }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="schedule-tab">
            <div class="st-content p-4">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <div class="speaker-item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="si-pic">
                                        <img src="{{ asset('custom/img/Placeholder.png') }}" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="si-text">
                                        <div class="si-title">
                                            <h4>{{ event.title }}</h4>
                                            <span><i class="fas fa-calendar"></i> Event</span>
                                        </div>
                                        <p><i class="fas fa-pen-to-square"></i> {{ event.description }}</p>
                                    </div>
                                    
                                    <ul class="sc-widget pb-5 pt-0">
                                        <li><i class="fa fa-clock"></i> {{ event.dateTime|date('M d, Y H:i') }}</li>
                                        <li><i class="fa fa-users"></i> Max participants: <b>{{ event.maxParticipants }}</b></li>
                                        <li><i class="fa fa-user"></i> Remaining places: <b>{{ remainingPlaces }}</b></li>
                                        <li><i class="fa fa-{{ event.isPublic ? 'lock-open' : 'lock' }}"></i> {{ event.isPublic ? 'Public' : 'Private' }}</li>
                                    </ul>

                                    <div class="ha-text pt-0">
                                        {% if event.dateTime < currentTime %}
                                            <p class="text-danger">You cannot subscribe to an event that has already happened.</p>
                                        {% else %}
                                            {% if isSubscribed %}
                                                <a href="{{ path('event_unsubscribe', { 'id': event.id }) }}" class="ha-btn"><i class="fas fa-times-circle"></i> Unsubscribe</a>
                                            {% else %}
                                                {% if remainingPlaces > 0 %}
                                                    <a href="{{ path('event_subscribe', { 'id': event.id }) }}" class="ha-btn"><i class="fas fa-file-signature"></i> Subscribe</a>
                                                {% else %}
                                                    <p class="text-danger">No remaining places available.</p>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
