{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <!-- Registration Form Section Begin -->
    <section class="contact-from-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Register</h2>
                        <p><i class="fa fa-bus"></i> Hop on! Join our crazy bus ride today!</p>
                        <div class="row mt-1">
                            <div class="col-lg-12 text-center">
                                <p>Already have an account? <a class="site-btn" href="{{ path('app_login') }}"><i class="fas fa-right-to-bracket"></i> Go here</a> to login.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_start(registrationForm, {'attr': {'class': 'comment-form contact-form'}}) }}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}}) }}
                                    {{ form_errors(registrationForm.firstName) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}}) }}
                                    {{ form_errors(registrationForm.lastName) }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                                    {{ form_errors(registrationForm.email) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                                    {{ form_errors(registrationForm.plainPassword.first) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm Password'}}) }}
                                    {{ form_errors(registrationForm.plainPassword.second) }}
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="site-btn"><i class="fa fa-user-plus"></i> Register</button>
                            </div>
                        </div>
                    {{ form_end(registrationForm) }}
                </div> 
            </div>
        </div>
    </section>
    <!-- Registration Form Section End -->

{% endblock %}
