<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
        {# <a>
            <img src="{{ asset("custom/img/RBG_EventSphere.png") }}" alt="" style="border-radius: 50%; max-width:100px; padding-top:10px; padding-bottom:10px">
        </a> #}
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li class="{{ app.request.get('_route') == 'app_home' ? 'active' : '' }}"><a href="{{ path('app_home') }}"><i class="fas fa-house"></i> Home</a></li>
                    <li class="{{ app.request.get('_route') == 'event_create' ? 'active' : '' }}"><a href="{{ path('event_create') }}"><i class="fas fa-calendar-plus"></i> Create</a></li>
                    <li class="{{ app.request.get('_route') == 'app_events' ? 'active' : '' }}"><a href="{{ path('app_events') }}"><i class="fas fa-calendar-week"></i> Events</a></li>
                    <li><a href="./subcription.html"><i class="fas fa-bookmark"></i> Subcription</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="{{ app.request.get('_route') == 'app_profile' ? 'active' : '' }}"><a href="{{ path('app_profile') }}"><i class="fas fa-id-badge"></i> Your Profile</a></li>
                    {% endif %}
                </ul>
            </nav>

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_login') }}" class="primary-btn top-btn"><i class="fas fa-right-to-bracket"></i></a>
            {% else %}
                <a href="{{ path('app_logout') }}" class="primary-btn top-btn"><i class="fas fa-right-from-bracket"></i></a>
            {% endif %}

        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>


<!-- Header End -->