<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
        <a>
            <img src="{{ asset("custom/img/RBG_EventSphere.png") }}" alt="" style="border-radius: 50%; max-width:100px; padding-top:10px; padding-bottom:10px">
        </a>
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li class="{{ app.request.get('_route') == 'app_home' ? 'active' : '' }}"><a href="{{ path('app_home') }}">Home</a></li>
                    <li class="{{ app.request.get('_route') == 'event_create' ? 'active' : '' }}"><a href="{{ path('event_create') }}">Create</a></li>
                    <li><a href="./events.html">Events</a>
                        {# <ul class="dropdown">
                            <li><a href="#">Jayden</a></li>
                            <li><a href="#">Sara</a></li>
                            <li><a href="#">Emma</a></li>
                            <li><a href="#">Harriet</a></li>
                        </ul> #}
                        {# Si tu veux faire un dropdown, c'est comme ça#}
                    </li>
                    <li><a href="./subcription.html">Subcription</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="{{ app.request.get('_route') == 'app_profile' ? 'active' : '' }}"><a href="{{ path('app_profile') }}">Your Profile</a></li>
                    {% endif %}
                </ul>
            </nav>

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_login') }}" class="primary-btn top-btn">{#<i class="fa fa-ticket"></i>#} Sign in/up</a>
            {% else %}
                <a href="{{ path('app_logout') }}" class="primary-btn top-btn"><i class="fa fa-sign-out"></i></a>
            {% endif %}

        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>


<!-- Header End -->